<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% comment %} <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update | Blog</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {{update|crispy}}
        <button type="submit" class="btn btn_primary">بروزرسانی</button>
    </form>
</body>
</html>